footer{
    background-color: white;
    margin-top: 5px;
    color: #a6d5e5;
    font-weight: 700;
    line-height: 5px;

}
.info .date{
    font-family: 'Kosmos';
    text-decoration: none;
    font-size: medium;
    color: #a6d5e5;
}
.info img{
     width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
footer img {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
.info{
    background-color: white;
    margin-top: 10px;
    color: #a6d5e5;
    font-weight: 700;
    line-height: 25px;
    margin-left: 5%;
    font-family: 'PyeongChangPeace-Light';
    font-size: 14px;
    float: left;
}
.info .siso_foot{
    width: 130px;
    height: 60px;
}
footer .logo{
    width: 90%;
    margin-right: 5%;  
    float: right;
    text-align: right;
}
footer .underline hr{
    border: none;
    height: 3px;
    color: #0B8BB0;
    background-color: #0B8BB0;
    width: 100%;
    text-align: left;
}
footer .logo a{
    font-size: 15px;
    text-decoration: none;
    color: #a6d5e5;
}
footer .logo img{
    background-color:white;
    margin-top: 5px;
    justify-content:right;
    width: 24px;
    height: 24px;
    overflow:hidden;
    margin-left: 7px;
}
footer .logo ul{
    display: block;
    margin-right: 6px;
}