.entry_all{
    text-align: center;
    font-family: 'Happiness-Sans-Regular';
    color: #0B8BB0;
}

.entry_logo img{
    width: 100%;
}

.entry_name img{
    margin-bottom: 15px;
    width: 60%;
}
.entry_info{
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 80px;
}
.blank_entry{
    margin-top: 50px;
}
.archive_button{
    border-color: #0B8BB0;
    color: #0B8BB0;
    margin-bottom: 100px;
}
.archive_button:hover,
.archive_button:focus{
    background-color: #0B8BB0;
    color: #ffffff;

}