@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('./fonts/Happiness-Sans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('./fonts/PyeongChangPeace-Light.ttf');
}
@font-face {
    font-family: 'Kosmos';
    src: url('./fonts/Kosmos.otf');
}
@font-face{
    font-family: 'Happiness-Sans-Regular';
    src: url('./fonts/Happiness-Sans-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}
/* *{
    font-family: 'PyeongChangPeace-Light';
    text-decoration: none;
} */